.navfont{
  font-size: 14px;
}
.bg-blue{
    background-color: blue;
    color: white;
}
.banner{
  width:100%;
  border: 2px solid #D8D8D8;

}
.bannerimg{
  width: 100%;
}
.border{

  border: 2px solid #D8D8D8;
}
.buttonfont{
  font-size: 12px;
  color:black;
  text-decoration: none;
  text-decoration-color: black;
}
.footerbutton{
  color:black;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}
.bg_color{
  background-color: #F8F8F8;
}
marquee{
  color: red;
}
.seemore{
  border: 1px solid blue;
}
.footconf{
  background-color: #2A2077;
  color: white;
  font-size: 10px;
}
